version: '3.8'

services:
  db:
    image: postgres:16
    container_name: finance-tracker-db
    restart: always
    environment:
      - POSTGRES_DB=financetracker
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
